* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
}

.grid-container {
    margin: auto;
    padding-top: 10vh;
    height: 400px;
    width: 400px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.grid-square {
    border: 1px solid black;
}